@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

/* global styles*/
:root{
    --aib:hsl(249, 99%, 64%) to hsl(278, 94%, 30%);/*(active input border)*/
    --red:hsl(0, 100%, 66%);/*(input errors)*/
    --light-g-v:hsl(270, 3%, 87%);
    --dark-g-v:hsl(279, 6%, 55%);
    --white:hsl(0, 0%, 100%);
    --dark-violet:hsl(278, 68%, 11%);
}

html,body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk',sans-serif;
    font-size: 18px;
}

input{
    padding: 10px;
    border: 1px solid hsla(0, 0%, 0%, 0.582);
    border-radius: 7px;
}
input:active{
    border: 1px solid ;
}

/*repeatable code*/
.inputs-flexbox{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

/* custom styles*/
body{
  
    width: 100%;
    min-height: 100%;
    background-color: red;
    display: grid;
    grid-template-columns: 35% 65%;
}

/*first box (left side)*/
.box-1{
    position: relative;
    min-height: 100vh;
    background-image: url(images/bg-main-desktop.png); 
    background-size: cover; 
    background-repeat: no-repeat;
}
.card-front{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 450px;
    height:250px;
    top: 10vh;
    left: 30%;
    background-image: url(images/bg-card-front.png);
    background-size: cover; 
    background-repeat: no-repeat;
    border-radius: 10px;
    color: var(--white);
}
.circles{
    display: flex;
    flex-direction: row;
}
.fisrst-circle{
    width: 60px;
    height: 60px;
    margin-left: 30px;
    border-radius: 50%;
    background-color: var(--white);
}
.secend-circle{
    width: 20px;
    height: 20px;
    margin-left: 30px;
    border-radius: 50%;
    border: 1px solid var(--white);
    transform: translate(0%,90%);
}
.display-card-number{
    margin-left: 30px;
    font-size: 1.5rem;
    letter-spacing: 2px;
}
.display-card-name-date{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.display-card-name{
    margin-left: 30px;
}
.display-card-date{
    margin-right: 30px;
}

/*card back side*/
.card-back{
    position: absolute;
    width: 450px;
    height:250px;
    top: calc(15vh + 250px);
    left: 45%;
    background-image: url(images/bg-card-back.png);
    background-size: cover; 
    background-repeat: no-repeat;
    border-radius: 10px;
}


/*second box (right side)*/
.box-2{
    min-height: 100vh;
    background-color: var(--white);
}

.inputs-box{
    width: 35%;
    height: 100vh;
    margin-left: 35%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 15px;
}

/*expention date inputs*/
.card-date{
    display: flex;
    flex-direction: row;
    column-gap: 15px;
}

.exp-date-inputs{
    width:50%;
    display: grid;
    grid-template-columns:30% 40%;
    white-space: nowrap;
    column-gap: 10px;
}
.exp-date-inputs label{
    grid-column: 1/3;
}
.exp-date-mesage{
    grid-column: 1/3;
}
.cvc-input{
    width:45%;
}


/*confirm button*/
#confirm-btn{
    padding: 15px;
    background-color: var(--dark-violet);
    color: var(--white);
    outline: none;
    border: none;
    border-radius: 5px;
}